.main-home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;
}

button{
    background-color:rgb(34, 218, 93) ;
    border: 1px solid #ddd;
    width: 10rem;
    height: 4rem;
    border-radius: 5rem;
    color: white;
    font-weight: 600;
    font-size: 1rem;
}